左右方向键选择当前回合技能,当移动到对应选项上时可以按x键执行  
- Fight: 攻击敌人,目前是恒定10点血量
- Heal: 治疗自己,目前是恒定恢复10点血量,且不会超过最大血量(100)
- Defense: 防御,让敌人攻击的伤害减半(持续一回合)

每个回合只能选择一次选项,敌人会恒定在下一回合发起攻击,攻击伤害为random[1,10] 
敌人攻击结束后才可以重新选择选项,不会记忆上一次选择  

后续会加入更多的伤害选项与敌人行动模式,也会更改为类肉鸽的遭遇战  