按空格开门，迎来异世界，接着会走场景，场景是一步一步走的，如果你看过了第二次玩，可以直接按空格键跳过。
空格键选择你的答案，z键确认你的答案，进入新的场景。如果选择相信，鼠标左键选择关卡难度不同，右键点击进入,
关卡难度不同，在于血量不同，每个门都有三个场景，逐步变难，根据实力选择，每个门进入后颜色不同，待玩家自行探索，如果进入后你觉得难度太大，可向左走，左边是使者，会帮你，分数5转化为充能1，速度会随着充能的增大而增大，所以不要想着简单的靠使者来完成过关，看到密码，当然，使者也是你来控制，将使者往右走即回到主游戏场景，在能量条上有分割线，代表不同的升级难度，不同程度死亡会呈现部分密码，最后会有完整密码。
在关卡中，有三个角色，兔星：攻击向上，鹿星：攻击向右，魅星：攻击向下，对应不同攻击，玩家可以实时切换来抵挡攻击和抵消子弹，按空格键切换角色，重要的一点是，
鹿星不被允许进入使者世界，否则将失去攻击，因为鹿星在不同难度下达到某个程度会变大免疫攻击，同时将玩家血量回复最大，玩家每次吃一个方形硬币会使能量条增一，
硬币位置会更新，能量条打满以后就可以看到全部密码。
如果你得到密码可以选择第四个关卡，选择密码，也是空格键选择密码，z键确认你给的密码，进入以后，可以自行探索，找到那封信寻得宝石即是胜利。